/* App.css */
html, body {
    height: 100%;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: goldenrod;
}

.footer-link {
    margin: 0 10px;
    text-decoration: none;
    color: goldenrod;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-icons {
    margin-top: 10px;
}

.footer-icons .MuiIconButton-root {
    margin: 0 5px;
}
