.home {
    width: 100%;
    overflow: hidden;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    text-align: left; 
    overflow-x: hidden; /* إلغاء السكرول الأفقي */
    overflow-y: hidden; /* إلغاء السكرول الرأسي */
}



.headerContainer {
    width: auto;
    color: white;
    padding: 20px;
    margin-left: 30px; 
}

.headerContainer h1 {
    font-weight: bold;
    font-size: 70px;
    color: goldenrod;
    font-family: "Roboto", sans-serif;
}

.headerContainer p {
    margin-top: 15px;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    color: #000;
    font-family: "Roboto", sans-serif;
}

.order-button {
    background-color: #000000;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 180px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.order-button:hover {
    background-color: rgb(193, 143, 15);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}
