/* Menu.css */
html, body {
    overflow-x: hidden;
}

.menu-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

/* Filters section */
.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.filters select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filters select:focus {
    outline: none;
    border-color: #000000; 

.order-button-menu {
    background-color: #000000 !important;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.order-button-menu:hover {
    background-color: rgb(193, 143, 15) !important;
}

@media (max-width: 600px) {
    .menu-container {
        padding: 10px;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .filters select {
        width: 100%;
    }
}
